body {
    margin: 0;
    padding: 0;
    height: 1000px;
    // border: #111111 1px solid;

}
.nav_bar{

    margin: auto;
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    box-shadow: 0px 1px 20px #888888;
    
    .bar_1{
        width: 143.5px;
        height: 31px;
        align-content: center;
        padding-left: 100px;

        img{
            padding-top: 30px;
            padding-bottom: 27px;
            align-items: center;
            justify-content: center;
        }
    }
    .bar_2{
        width: 577.250px;
        padding-top: 30px;
        padding-bottom: 27px;
        display: flex;
        justify-content: space-between;
        justify-content: baseline;

        
        .dropdown{
            align-content: center;

            a{
                font-family: "Montserrat", serif;
                font-weight: 500;
                font-style: normal;
                text-decoration: none;
                color: #111111;
                font-size: 15px;
                background-color: white;
                border: none;
                border-radius: none;

  
            }
        }
        .nav_1{
            text-align: center ;
            align-content: center;
            padding: 0;

            a{
                font-family: "Montserrat", serif;
                font-weight: 500;
                font-style: normal;
                text-decoration: none;
                color: #111111;
                font-size: 15px;
            }

        }
    }
    .bar_3{
        width: 230px;
        padding-top: 30px;
        padding-bottom: 27px;
        margin-right: 100px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon_1{
            .glyphicon{
                color: black;
                height: 18px;
                width: 18px;
            }

        }

        .icon{
            a{
                font-family: "Montserrat", serif;
                font-weight: 500;
                font-style: normal;
                text-decoration: none;
                color: #b6b6b6;
                font-size: 12px;
            }
        }
    }

}

.bg-dark{
    padding: 0rem;
    background-color: white;
    opacity: none;
}
.menu{
    display: none;
}

@media screen and (max-width: 1000px) {
    .menu{ 
        display: contents;
    } 
   body > .nav_bar{
        display: none;
    }

    .nav_bar{
        margin: auto;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        box-shadow: 0px 1px 20px #888888;
        align-items: center;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        .bar_1{
            padding: 0;
            img{
                padding: 0;
            }
        }
        .bar_2{
            padding: 0;
        }
        .bar_3{
            padding: 0;
        }
       }    

       .grid{
        margin-bottom: 680px;


        .box1{
            grid-row-start: 1;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 4;
            height: 600px;
        }

        .box2{
            grid-column-start: 1;
            grid-column-end: 2;
            height: 300px;

        }
        .box3{
            grid-column-start: 2;
            grid-column-end: 4;
            height: 300px;

        }
        .box4{
            grid-column-start: 1;
            grid-column-end: 2;
            height: 300px;

        }
        .box5{
            grid-column-start: 2;
            grid-column-end: 4;
            height: 300px;

        }

       }
}
@media screen and (max-width: 700px) {
    .menu{ 
        display: contents;
    } 
   body > .nav_bar{
        display: none;
    }

    .nav_bar{
        margin: auto;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        box-shadow: 0px 1px 20px #888888;
        align-items: center;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        .bar_1{
            padding: 0;
            img{
                padding: 0;
            }
        }
        .bar_2{
            padding: 0;
            flex-direction: column;
            height: 500px;
            padding-top: 20px;
            padding-bottom: 20px;

            .dropdown{
                margin: auto;
                justify-items: center;
                margin-top: 0;
                margin-bottom: 0;
                a{
                    color: black;

                }
            }
            .nav_1{
                padding-top: 6px;
                padding-bottom: 6px;
            }
        }
        .bar_3{
            padding: 0;
        }
       }    

}
.grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 49% 24% 24%;
    height: 600px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: repeat(3);

    
    div{
        border: #faf7f7 1px solid;

    }
    .box1{
        background-image: url(https://preview.colorlib.com/theme/ashion/img/categories/category-1.jpg.webp);
        background-size: cover;
        grid-row-start: 1;
        grid-row-end: 3;
        position:relative;
        .center{
            position: absolute;
            border: none;
            width: 60%;
            top: 25%;
            left: 65px;
            h1{
                    font-family: "Cookie", cursive;
                    font-weight: 400;
                    font-size: 70px;
                    color: #111111;
                  }
            p{
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                color: #666666;
                font-weight: 400;
                line-height: 24px;
                margin: 0 0 15px 0;

                a{
                    padding-top: 10px;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    color: black;
                    font-weight: 600;
                    margin: 0 0 15px 0;
                    text-transform: uppercase;
                }
            }
                  
            }

        }
    
    .box2{
        background-image: url(https://preview.colorlib.com/theme/ashion/img/categories/category-2.jpg.webp);
        background-size: cover;
        position: relative;
        .center{
            position: absolute;
            border: none;

            width: 90%;
            top: 20%;
            left: 30px;
            h1{
                font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    color: #111111;
                  }
            p{
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                color: #666666;
                font-weight: 400;
                line-height: 24px;
                margin: 0 0 15px 0;

                a{
                    padding-top: 10px;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    color: black;
                    font-weight: 600;
                    margin: 0 0 15px 0;
                    text-transform: uppercase;
                }
            }
                  
            }



    }
    .box3{
        background-image: url(https://preview.colorlib.com/theme/ashion/img/categories/category-3.jpg.webp);
        background-size: cover;
        position: relative;

        .center{
            position: absolute;
            border: none;

            width: 90%;
            top: 20%;
            left: 30px;
            h1{
                font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    color: #111111;
                  }
            p{
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                color: #666666;
                font-weight: 400;
                line-height: 24px;
                margin: 0 0 15px 0;

                a{
                    padding-top: 10px;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    color: black;
                    font-weight: 600;
                    margin: 0 0 15px 0;
                    text-transform: uppercase;
                }
            }
                  
            }

    }
    .box4{
        background-image: url(https://preview.colorlib.com/theme/ashion/img/categories/category-4.jpg.webp);
        background-size: cover;
        position: relative;
        

        .center{
            position: absolute;
            width: 90%;
            border: none;

            top: 20%;
            left: 30px;
            h1{
                font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    color: #111111;
                  }
            p{
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                color: #666666;
                font-weight: 400;
                line-height: 24px;
                margin: 0 0 15px 0;

                a{
                    padding-top: 10px;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    color: black;
                    font-weight: 600;
                    margin: 0 0 15px 0;
                    text-transform: uppercase;
                }
            }
                  
            }

    }
    .box5{
        background-image: url(https://preview.colorlib.com/theme/ashion/img/categories/category-5.jpg.webp);
        background-size: cover;
        position: relative;

        .center{
            position: absolute;
            width: 90%;
            top: 20%;
            left: 30px;
            border: none;

            h1{
                font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    color: #111111;
                  }
            p{
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                color: #666666;
                font-weight: 400;
                line-height: 24px;
                margin: 0 0 15px 0;

                a{
                    padding-top: 10px;
                    font-size: 14px;
                    font-family: "Montserrat", sans-serif;
                    color: black;
                    font-weight: 600;
                    margin: 0 0 15px 0;
                    text-transform: uppercase;
                }
            }     
            }
    }
}

.mid1{
    margin: auto;
    width: 80%;
    margin-top: 20px;

    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title1{
            color: #111111;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            padding: 0;


        }
        .title2{
            color: #111111;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            display: flex;

            p{
                margin: 0;
                padding: 0;
                vertical-align: middle;
                padding: 0 10px;
    
            }

        }
    }
}

.berf{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #111111;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.star{
    text-align: center;
    line-height: 18px;
    margin-bottom: 5px;
    color: #ffc107;
}
.rate{
    color: #111111;
    font-weight: 600;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.mid2{
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    justify-content: center;
    justify-content: space-between;

    .box1{
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .box0_1{
            background-image: url(https://preview.colorlib.com/theme/ashion/img/product/product-4.jpg.webp);
            height: 360px;
            background-repeat: repeat;
            background-position: top center;       
            background-size: cover;
 
        }
    }
    .box2{
        display: flex;
        flex-direction: column;
            flex-wrap: wrap;


        .box0_2{
            background-image: url(https://preview.colorlib.com/theme/ashion/img/product/product-5.jpg.webp);
            height: 360px;
            background-repeat: repeat;
            background-position: top center;    
            background-size: cover;
    
        }
    }

    .box3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;


        .box0_3{
            background-image: url(https://preview.colorlib.com/theme/ashion/img/product/product-6.jpg.webp);
            height: 360px;
            background-repeat: repeat;
            background-position: top center;     
            background-size: cover;
   
        }
    }

    .box4{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;


        .box0_4{
            background-image: url(https://preview.colorlib.com/theme/ashion/img/product/product-7.jpg.webp);
            height: 360px;
            background-repeat: repeat;
            background-position: top center;      
            background-size: cover;
  
        }
    }

    .box5{
        display: flex;
        flex-direction: column;

        .box0_5{
            background-image: url(https://preview.colorlib.com/theme/ashion/img/product/product-8.jpg.webp);
            height: 360px;
            background-repeat: repeat;
            background-position: top center;   
            background-size: cover;
     
        }
    }

    .box6{
        display: flex;
        flex-direction: column;

        .box0_6{
            background-image: url(https://preview.colorlib.com/theme/ashion/img/product/product-3.jpg.webp);
            height: 360px;
            background-repeat: repeat;
            background-position: top center;    
            background-size: cover;
    
        }
    }

    .box7{
        display: flex;
        flex-direction: column;

        .box0_7{
            background-image: url(https://preview.colorlib.com/theme/ashion/img/product/product-2.jpg.webp);
            height: 360px;
            background-repeat: repeat;
            background-position: top center;   
            background-size: cover;
     
        }
    }

    .box8{
        display: flex;
        flex-direction: column;

        .box0_8{
            background-image: url(https://preview.colorlib.com/theme/ashion/img/product/product-1.jpg.webp);
            height: 360px;
            background-repeat: repeat;
            background-position: top center;  
            background-size: cover;
      
        }
    }
}

@media screen and (max-width: 1400px) {
    .mid2{
        grid-template-columns: 30% 30% 30%;
    } 
}
@media screen and (max-width: 1100px) {
    .mid2{
        grid-template-columns: 49% 49%;
    } 
}

@media screen and (max-width: 930px) {
    .head{
        display:contents;
        flex-direction: column;
        .title2{
            padding-top: 20px;
            margin: 0;
            padding: 0;
        }
    }
    .mid1{
        margin-top: 680px;

    } 
}
 .slide_1{
    background-image: url(https://preview.colorlib.com/theme/ashion/img/banner/banner-1.jpg.webp);
    height: 400px;
    width: 100%;
    margin-top: 100px;
    background-position: top center;  
    background-size: cover;
    display: flex;
    margin: auto;
    justify-content: center;

    .container{
        width: 100%;
        margin: 0;
        margin: auto;
        .slide{
            margin: auto;
            display: flex;

            
        *.carousel-inner{
            justify-content: center;
            align-items: center;
            width: fit-content;
            border: 1px solid red;

        } }
        

    }
    

}
